@import url("variables.css");

body {
  margin: 0;
}

.page {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8em;
  max-width: 1400px;
}

.header {
  padding: 2em;
  background-color: white;
  overflow: hidden;
  box-shadow: 4px 8px 18px rgba(153, 153, 153, 0.212);
}

.logo {
  color: black;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  text-decoration: none;
  float: left;
}

.logo:hover {
  color: var(--color-blue);
}

.options {
  float: right;
}

.header_option {
  color: black;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  margin-left: 2em;
}

.header_option:hover {
  color: gray;
}

#landing-section {
  position: relative;
  margin-top: 6em;
}

.headline {
  text-align: center;
  color: var(--primary-color);
  font-family: "Work Sans", sans-serif;
  font-size: 48px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.description {
  text-align: center;
  color: rgb(136, 136, 136);
  font-family: var(--general-description-font);
}

.button-layer {
  display: flex;
  margin: 0;
  position: absolute;
  bottom: -80%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.primaryButton {
  color: white;
  background-color: var(--color-blue);
  border: 0;
  padding: 18px;
  margin-right: 3em;
  border-radius: 4px;
  font-family: var(--general-description-font);
}

.primaryButton:hover {
  box-shadow: 2px 2px 12px rgba(70, 131, 180, 0.529);
  background-color: var(--color-blue-hover);
}

.secondaryButton {
  color: var(--color-blue);
  font-family: var(--general-description-font);
  background-color: white;
  border-color: var(--color-blue);
  border: solid;
  border-radius: 4px;
  padding: 18px;
}

.secondaryButton_Notification {
  color: var(--color-blue);
  font-family: var(--general-description-font);
  background-color: white;
  border-color: var(--color-blue);
  border: solid;
  border-radius: 4px;
  padding: 18px;
}

.secondaryButton_Notification:hover {
  background-color: var(--color-blue-hover);
  box-shadow: 2px 2px 12px rgba(70, 131, 180, 0.529);
  background-color: rgba(70, 131, 180, 0.129);
  color: white;
  border: white solid;
}


.section {
  margin-top: 20em;
}

.sectionTitle {
  color: var(--primary-color);
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

.event-section {
  margin: auto;
}

.eventsLayer {
  display: flex;
  margin-bottom: 3em;
}

.eventCard {
  width: 32%;
  background-color: white;
  box-sizing: border-box;
  margin-left: 1em;
  margin-right: 2em;
  box-shadow: 2px 4px 18px rgba(128, 128, 128, 0.301);
  padding: 2em;
  border-radius: 4px;
}

.eventCard:hover {
  background-color: rgb(235, 235, 235);
  box-shadow: rgba(128, 128, 128, 0.501);
}

.title {
  color: black;
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
}

.duration {
  color: gray;
  font-size: small;
  font-family: "Work Sans", sans-serif;
}

.mode {
  color: var(--color-blue);
  font-family: "Work Sans", sans-serif;
}

.tags {
  color: gray;
  font-family: "Work Sans", sans-serif;
}

.notification {
  margin-top: 10em;
  padding: 2em;
  background-color: var(--color-blue);
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  border-radius: 8px;
}

.notification-title {
  color: white;
  font-family: "Work Sans", sans-serif;
}

.notification-description {
  color: white;
  font-family: "Work Sans", sans-serif;
}


/// MEDIA QUERIES
@media(max-width: 1000px) {
  .eventsLayer {
    display: block;
  }
  .eventCard {
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    width: 60%;
    text-align: center;
  }
  .notification {
    text-align: center;
  }
}